.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px; }

.hidden {
  display: none; }

.show {
  display: block; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h3 h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  position: relative; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (min-width: 768px) {
  .container {
    width: 670px;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    padding: 0 20px; } }

.header {
  position: absolute;
  top: 0;
  left: 0; }

@media (min-width: 1200px) {
  .header {
    left: calc(50% + 5px); } }

.nav {
  width: 0;
  transition: 0.4s all; }
  .nav__hamburger {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: 27px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .nav__hamburger span {
      width: 100%;
      height: 1px;
      transition: 0.4s all;
      background-color: #ffffff; }
  .nav__list {
    display: none;
    width: 0;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 111px; }
  .nav__list-item {
    margin: 0 auto;
    margin-bottom: 55px;
    display: flex; }
    .nav__list-item:nth-child(4) {
      margin-bottom: 0; }
    .nav__list-item--phone {
      margin-top: 85px; }
    .nav__list-item:last-child {
      margin-bottom: 0; }
  .nav__link {
    color: #272727;
    font-size: 17px;
    font-family: 'Poiret One';
    font-weight: 100; }
    .nav__link--phone {
      padding-top: 44px;
      font-family: 'Roboto', sans-serif;
      position: relative; }
      .nav__link--phone::before {
        content: url(../img/icons/contacts/phone.png);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%); }

.nav-active {
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  width: 240px; }
  .nav-active .nav {
    width: 240px; }
    .nav-active .nav__hamburger span {
      background-color: #272727; }
      .nav-active .nav__hamburger span:first-child {
        transform: rotate(45deg);
        margin-top: 14px; }
      .nav-active .nav__hamburger span:nth-child(2) {
        transform: rotate(-45deg); }
      .nav-active .nav__hamburger span:last-child {
        display: none; }
    .nav-active .nav__list {
      display: flex;
      width: 100%; }

@media (min-width: 1200px) {
  .nav {
    width: 100%; }
    .nav__hamburger {
      display: none; }
    .nav__list {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 48px; }
    .nav__list-item {
      margin: 0 auto;
      display: flex;
      margin-right: 70px; }
      .nav__list-item:last-child {
        margin-right: 0; }
    .nav__link {
      font-size: 14px;
      color: #ffffff;
      margin: 0;
      letter-spacing: 1.5px; }
      .nav__link--phone {
        padding: 0;
        padding-left: 35px; }
        .nav__link--phone:before {
          content: url(../img/icons/contacts/phone-white.png);
          left: 0; } }

.home {
  padding-top: 257px;
  padding-bottom: 147px;
  background-image: url(../img/deco/bg/home-tablet.png);
  background-color: #202020;
  background-repeat: no-repeat;
  background-position: 14% 20px;
  background-size: cover;
  text-align: center; }
  .home__title-sub {
    margin-top: 15px; }
  .home__title-vl {
    margin-top: 20px; }
  .home .title {
    padding-left: 14px;
    text-align: left; }
    .home .title-main {
      font-family: 'Poiret One';
      font-size: 49px;
      color: rgba(255, 255, 255, 0.4);
      font-weight: 100;
      letter-spacing: 5px;
      line-height: 51px;
      text-transform: uppercase; }
    .home .title-sub {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 30px;
      letter-spacing: 3px;
      line-height: 30px;
      text-transform: uppercase;
      color: #ffffff; }
      .home .title-sub span {
        padding-left: 70px; }
    .home .title-vl {
      font-family: 'Poiret One';
      font-size: 18px;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      letter-spacing: 2px;
      line-height: 19px; }

@media (min-width: 768px) {
  .home {
    background-image: url(../img/deco/bg/home-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; } }

@media (min-width: 1200px) {
  .home {
    padding-top: 241px;
    padding-bottom: 394px;
    background-image: url(../img/deco/bg/home-desc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .home .title {
      padding-left: 14px;
      text-align: right; }
      .home .title-sub {
        margin-top: 20px; }
        .home .title-sub:last-child {
          margin-top: 26px; }
      .home .title-main {
        font-size: 110px;
        letter-spacing: 5px;
        line-height: 113px; }
      .home .title-sub {
        font-weight: 900;
        font-size: 55px;
        letter-spacing: 3px;
        line-height: 58px;
        padding-right: 217px; }
        .home .title-sub span {
          display: block;
          padding-left: 0;
          transform: translateX(135px); }
      .home .title-vl {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 19px; } }

.sheader {
  font-family: 'Roboto', sans-serif;
  position: relative; }
  .sheader:before {
    content: '';
    width: 20px;
    height: 178px;
    background-color: #4f8699;
    position: absolute;
    top: -60px; }
  .sheader--right {
    text-align: right;
    padding-right: 10px; }
    .sheader--right:before {
      right: -20px; }
  .sheader--left {
    text-align: left;
    padding-left: 10px; }
    .sheader--left:before {
      left: -20px; }
  .sheader__title {
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform: uppercase;
    color: #4f8699;
    position: relative;
    display: inline-block; }
    .sheader__title:after {
      content: '';
      width: 45px;
      height: 1px;
      background-color: #4f8699;
      position: absolute;
      bottom: 0;
      left: 0; }
  .sheader__subtitle {
    font-weight: 100;
    font-size: 18px;
    color: #767676;
    margin-top: 18px; }

@media (min-width: 1200px) {
  .sheader:before {
    width: 173px;
    height: 255px;
    position: absolute;
    top: -135px; }
  .sheader--right {
    text-align: right;
    padding-right: 255px; }
    .sheader--right:before {
      right: 0; }
    .sheader--right .sheader__title::after {
      content: '';
      width: 60px;
      left: 135px; }
  .sheader--left {
    text-align: left;
    padding-left: 255px; }
    .sheader--left:before {
      left: 0; }
    .sheader--left .sheader__title::after {
      content: '';
      width: 60px;
      left: 0; }
  .sheader__title {
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 45px;
    text-transform: uppercase;
    color: #4f8699;
    position: relative;
    display: inline-block; }
  .sheader__subtitle {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 25px; } }

.services {
  padding-top: 35px; }
  .services__sheader {
    margin-bottom: 83px; }
  .services__descr {
    margin-bottom: 44px; }

@media (min-width: 1200px) {
  .services {
    padding-top: 100px; }
    .services__sheader {
      margin-bottom: 123px; } }

.descr--left {
  text-align: left; }

.descr--right {
  text-align: right; }

.descr__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 23px; }

.descr__text {
  font-family: 'Poiret One', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 27px;
  margin-top: 25px; }

.descr__img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 252px;
  height: 368px;
  margin: 0 auto;
  margin-top: 15px;
  transform: translateY(2px); }

@media (min-width: 1200px) {
  .descr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .descr--left {
      text-align: left;
      display: flex; }
      .descr--left .descr__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
      .descr--left .descr__text {
        text-align: right;
        margin-top: 65px;
        max-width: 535px; }
      .descr--left .descr__title {
        text-align: right; }
    .descr--right {
      text-align: right; }
      .descr--right .descr__text {
        text-align: left; }
    .descr__title {
      font-size: 30px;
      line-height: 40px; }
    .descr__text {
      font-size: 18px;
      letter-spacing: 2.5px;
      line-height: 30px;
      margin-top: 0;
      padding-bottom: 50px;
      max-width: 607px;
      position: relative; }
      .descr__text:before {
        content: '';
        width: 56px;
        height: 0.5px;
        background-color: #4f8699;
        position: absolute;
        bottom: 0;
        right: 0; }
    .descr__img {
      width: 528px;
      height: 724px;
      position: absolute;
      bottom: -2px;
      right: 0; } }

.slider {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 67px;
  text-align: center;
  transition: 0.4s all; }
  .slider__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
    min-height: 152px; }
  .slider .slide {
    opacity: 0.4; }
    .slider .slide__wrapper {
      width: 50px;
      height: 81px;
      transition: 0.4s all; }
    .slider .slide .slider__title {
      display: none; }
    .slider .slide--active {
      opacity: 1; }
      .slider .slide--active .slide__wrapper {
        width: 87px;
        height: 152px; }
  .slider__dots {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    margin-bottom: 44px; }
    .slider__dots .dot {
      width: 30px;
      height: 0.5px;
      background-color: #4f8699;
      margin-right: 6px; }
      .slider__dots .dot:last-child {
        margin: 0; }
      .slider__dots .dot--active {
        height: 3px; }
  .slider__title {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    max-width: 150px;
    min-height: 43px; }

@media (min-width: 1200px) {
  .slider {
    background-color: #F9F9F9;
    padding-top: 160px;
    padding-bottom: 152px; }
    .slider__inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 0;
      min-height: 152px; }
    .slider .slide {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .slider .slide__wrapper {
        width: 74px;
        height: 124px; }
      .slider .slide .slider__title {
        display: block;
        position: relative;
        padding-top: 40px;
        margin-top: 50px; }
        .slider .slide .slider__title:after {
          content: '';
          width: 40px;
          height: 0.5px;
          background-color: #4f8699;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%); }
    .slider__dots {
      display: none; }
      .slider__dots .dot {
        width: 30px;
        height: 0.5px;
        background-color: #4f8699;
        margin-right: 6px; }
        .slider__dots .dot:last-child {
          margin: 0; }
    .slider__title-p {
      display: none; } }

.about {
  padding-top: 38px; }
  .about__sheader {
    margin-bottom: 83px; }

@media (min-width: 1200px) {
  .about {
    padding-top: 100px;
    padding-bottom: 128px;
    position: relative; }
    .about__sheader {
      margin-bottom: 122px; } }

.statistic {
  padding: 75px 0;
  background-image: url(../img/deco/bg/statistic-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .statistic__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px; }
  .statistic__item {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-width: 98px;
    margin-bottom: 66px; }
    .statistic__item:nth-last-child(-n + 2) {
      margin-bottom: 0; }
  .statistic__counter {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px; }
  .statistic__descr {
    font-size: 15px;
    font-weight: 300; }

@media (min-width: 768px) {
  .statistic {
    padding: 141px 0;
    background-image: url(../img/deco/bg/statistic-tablet.jpg); } }

@media (min-width: 1200px) {
  .statistic {
    padding: 141px 0;
    background-image: url(../img/deco/bg/statistic-decs.jpg); }
    .statistic__item {
      margin-bottom: 0; }
    .statistic__counter {
      font-size: 42px;
      line-height: 43px;
      margin-bottom: 25px; }
    .statistic__descr {
      font-size: 18px;
      font-weight: 300; } }

.price {
  padding-top: 37px;
  padding-bottom: 77px; }
  .price__sheader {
    margin-bottom: 66px; }
  .price__list {
    text-align: left; }

.item__header {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 10px; }

.item__descr {
  margin-bottom: 26px;
  font-family: 'Poiret One', cursive;
  font-size: 13px; }

@media (min-width: 1200px) {
  .price {
    padding-top: 100px;
    padding-bottom: 154px; }
    .price__sheader {
      margin-bottom: 119px; }
    .price__list {
      text-align: left; }
  .item__header {
    font-size: 24px;
    letter-spacing: 2px; }
  .item__descr {
    margin-bottom: 60px;
    font-size: 18px;
    max-width: 765px; } }

.contact {
  background-color: #F9F9F9;
  padding-top: 38px;
  padding-bottom: 70px; }
  .contact__form {
    margin-top: 55px; }
  .contact__info {
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: #767676; }
    .contact__info a {
      color: #767676; }
    .contact__info-item {
      margin-bottom: 17px;
      padding-left: 55px;
      position: relative; }
      .contact__info-item:last-child {
        margin-bottom: 0; }
      .contact__info-item:before {
        position: absolute;
        top: 0;
        left: 0; }
      .contact__info-item--phone:before {
        content: url(../img/icons/contacts/phone.png); }
      .contact__info-item--mail:before {
        content: url(../img/icons/contacts/email.png); }
      .contact__info-item--address:before {
        content: url(../img/icons/contacts/address.png); }

@media (min-width: 1200px) {
  .contact {
    background-color: #F9F9F9;
    padding-top: 100px;
    padding-bottom: 76px; }
    .contact__form {
      margin: 0 auto;
      margin-top: 110px; }
    .contact__info {
      display: flex;
      justify-content: space-around; }
      .contact__info-item {
        margin-bottom: 0;
        padding-left: 0;
        padding-top: 50px;
        position: relative;
        text-align: center; }
        .contact__info-item:before {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%); }
        .contact__info-item--phone:before {
          content: url(../img/icons/contacts/phone.png); }
        .contact__info-item--mail:before {
          content: url(../img/icons/contacts/email.png); }
        .contact__info-item--address {
          max-width: 130px; }
          .contact__info-item--address:before {
            content: url(../img/icons/contacts/address.png); } }

.form {
  display: flex;
  flex-direction: column; }
  .form input {
    border: none;
    border-bottom: 0.5px solid #000000;
    background-color: transparent;
    width: 100%;
    padding: 15px 0; }
    .form input::placeholder {
      font-family: 'Poiret One', cursive;
      font-size: 15px;
      color: rgba(118, 118, 118, 0.7); }
  .form textarea {
    border: none;
    border-bottom: 0.5px solid #000000;
    background-color: transparent;
    resize: none;
    width: 100%;
    height: 115px; }
    .form textarea::placeholder {
      font-family: 'Poiret One', cursive;
      font-size: 15px;
      color: rgba(118, 118, 118, 0.7);
      transform: translateY(90px); }
  .form__button {
    margin-top: 41px;
    width: 100%;
    height: 50px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #272727; }

@media (min-width: 1200px) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 754px;
    justify-content: space-between; }
    .form input {
      width: 354px; }
      .form input::placeholder {
        font-size: 18px; }
    .form textarea::placeholder {
      font-size: 18px; }
    .form__button {
      margin: 0 auto;
      margin-top: 77px;
      width: 180px;
      font-size: 11px; } }

.footer {
  background-color: #272727;
  padding-top: 71px;
  padding-bottom: 18px; }
  .footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 172px;
    margin: 0 auto; }
  .footer .author {
    text-align: center;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5); }
