.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;

  &--contact {
  }

  &--social {
  }

  &__item {
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }

  &__link {
  }

  &__link-img {
  }

  &__img {
  }
}

.list--statistic {
  margin: 0 auto;
  @include breakpoint-up('sm') {
    gap: 35px;
  }
  @include breakpoint-up('lg') {
    gap: 150px;
  }
  @include breakpoint-up('fhd') {
    gap: 241px;
  }
  .list {
    &__item {
      width: 100%;
      max-width: 98px;
    }
    &__title {
      color: #ffffff;
    }
    &__title-count {
      font-weight: 900;
      font-size: 3rem;
      line-height: 3.1rem;
      letter-spacing: 0.008rem;
      text-transform: uppercase;

      color: #ffffff;

      @include breakpoint-up('lg') {
        font-size: 4.2rem;
        line-height: 4.3rem;
      }
    }

    &__title-text {
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 2rem;

      letter-spacing: 0.014rem;

      @include breakpoint-up('lg') {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  }
}
