.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include breakpoint-up('sm') {
      flex-direction: row;
    }
  }

  &__item {
  }

  &__link {
    font-family: 'Poiret One';
    font-size: 1.4rem;
    line-height: 1.4rem;

    letter-spacing: 0.014rem;
    color: #ffffff;
  }
}
