.toggler {
  width: 27px;
  height: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;

  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    border-radius: 2px;
  }

  &:hover,
  &:focus,
  &:active {
    .toggler__line {
      background-color: #cac9c9;
    }
  }
}
