.about {
  &__container {
    display: flex;
    flex-direction: column;
    @include breakpoint-up('md') {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      gap: 20px;
    }
    @include breakpoint-up('fhd') {
      justify-content: initial;
      gap: 150px;
    }
  }

  &__wrapper {
    max-width: 532px;
    @include breakpoint-up('md') {
      max-width: 535px;
    }
    @include breakpoint-up('fhd') {
      max-width: 700px;
    }
  }

  &__header {
  }

  &__content {
    margin-top: 10px;
    @include breakpoint-up('md') {
      padding-bottom: 100px;
    }
    @include breakpoint-up('lg') {
      margin-top: 40px;
    }
    @include breakpoint-up('xxl') {
      margin-top: 60px;
      padding-bottom: 150px;
    }
  }

  &__img-wrapper {
    margin-top: 12px;
    @include breakpoint-up('md') {
      margin-top: 0;
    }
  }

  &__img {
    display: flex;

    @include breakpoint-up('sm') {
      max-width: 350px;
    }
    @include breakpoint-up('lg') {
      max-width: 400px;
    }
    @include breakpoint-up('xl') {
      max-width: 450px;
    }
    @include breakpoint-up('xxl') {
      max-width: 528px;
    }
  }

  &__statistic {
    padding-top: 75px;
    padding-bottom: 75px;

    background-position: top right -150px;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint-up('sm') {
      background-position: bottom right;
    }
    @include breakpoint-up('lg') {
      padding-top: 145px;
      padding-bottom: 145px;

      background-position: bottom right;
    }
  }
}
