.hero {
  min-height: 570px;
  padding-top: 257px;
  background-color: #202020;
  background-size: 816px 710px;
  background-repeat: no-repeat;
  background-position-x: -80px;
  background-position-y: -30px;
  &__container {
  }

  &__title {
  }

  &__title-span {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.1rem;
    letter-spacing: 0.013rem;
    text-transform: uppercase;
    text-align: right;

    color: #ffffff;

    &--main {
      font-family: 'Poiret One';
      font-weight: 100;
      font-size: 4.9rem;
      line-height: 5.1rem;

      letter-spacing: 0.04rem;

      color: rgba(255, 255, 255, 0.4);
    }

    &--wrapper {
    }
  }

  &__subtitle {
    font-family: 'Poiret One';
    font-size: 1.8rem;
    line-height: 1.9rem;

    letter-spacing: 0.015rem;

    color: #ffffff;
  }
}
