.price {
  padding-bottom: 100px;
  @include breakpoint-up('lg') {
    padding-bottom: 195px;
  }
  &__container {
  }

  &__price-list {
    margin: 0 auto;
    margin-top: 30px;
    @include breakpoint-up('lg') {
      margin-top: 80px;
    }
  }
}
