.footer {
  background-color: $black;

  padding-top: 71px;
  padding-bottom: 18px;
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 172px;
    margin: 0 auto;
  }

  .author {
    text-align: center;
    margin-top: 60px;

    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgba($color: $white, $alpha: .5);
  }
}
