.home {
  padding-top: 257px;
  padding-bottom: 147px;
  background-image: url(../img/deco/bg/home-tablet.png);
  background-color: #202020;
  background-repeat: no-repeat;
  background-position: 14% 20px;
  background-size: cover;

  text-align: center;

  &__title {
    &-sub {
      margin-top: 15px;
    }

    &-vl {
      margin-top: 20px;
    }
  }

  .title {
    padding-left: 14px;
    text-align: left;

    &-main {
      font-family: 'Poiret One';
      font-size: 49px;
      color: rgba($color: $white, $alpha: .4);
      font-weight: 100;
      letter-spacing: 5px;
      line-height: 51px;

      text-transform: uppercase;

    }

    &-sub {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 30px;
      letter-spacing: 3px;
      line-height: 30px;
      text-transform: uppercase;
      color: $white;

      span {
        padding-left: 70px;
      }
    }

    &-vl {
      font-family: 'Poiret One';
      font-size: 18px;
      font-weight: 100;
      color: rgba($color: $white, $alpha: .6);
      text-align: center;
      letter-spacing: 2px;
      line-height: 19px;
    }
  }
}

@media(min-width: $tablet-width) {
  .home {
    background-image: url(../img/deco/bg/home-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media(min-width: $decstop-width) {
  .home {
    padding-top: 241px;
    padding-bottom: 394px;

    background-image: url(../img/deco/bg/home-desc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title {
      padding-left: 14px;
      text-align: right;

      &-sub {
        margin-top: 20px;

        &:last-child {
          margin-top: 26px;
        }
      }

      &-main {
        font-size: 110px;
        letter-spacing: 5px;
        line-height: 113px;

      }

      &-sub {
        font-weight: 900;
        font-size: 55px;
        letter-spacing: 3px;
        line-height: 58px;
        padding-right: 217px;

        // padding-right: 91px;
        span {
          display: block;
          padding-left: 0;
          transform: translateX(135px);
        }
      }

      &-vl {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 19px;
      }
    }
  }


}
