.nav {
  width: 0;
  transition: 0.4s all;
  &__hamburger {
    position: absolute;

    margin-left: 20px;
    margin-top: 20px;
    width: 27px;
    height: 17px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      width: 100%;
      height: 1px;
      transition: 0.4s all;
      background-color: $white;
    }
  }
  &__list {
    display: none;
    width: 0;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 111px;
  }
  &__list-item {
    margin: 0 auto;
    margin-bottom: 55px;
    display: flex;
    &:nth-child(4) {
      margin-bottom: 0;
    }
    &--phone {
      margin-top: 85px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $black;

    font-size: 17px;
    font-family: 'Poiret One';
    font-weight: 100;
    &--phone {
      padding-top: 44px;
      font-family: 'Roboto', sans-serif;
      position: relative;
      &::before {
        content: url(../img/icons/contacts/phone.png);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
.nav-active{
  background-color: $white;
  display: flex;
  height: 100vh;
  width: 240px;
  .nav {
    width: 240px;
    &__hamburger {
      span {
        background-color: $black;

        &:first-child {
          transform: rotate(45deg);
          margin-top: 14px;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
        &:last-child {
          display: none;
        }
      }
    }
    &__list {
      display: flex;
      width: 100%;
    }
  }
}

@media(min-width: $decstop-width) {
  .nav {
    width: 100%;
    &__hamburger {
      display: none;
    }
    &__list {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 48px;
    }
    &__list-item {
      margin: 0 auto;
      display: flex;
      margin-right: 70px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      font-size: 14px;
      color: $white;
      margin: 0;
      letter-spacing: 1.5px;
      &--phone {
        padding: 0;
        padding-left: 35px;
        &:before {
          content: url(../img/icons/contacts/phone-white.png);
          left: 0;
        }
      }
    }

  }
}
