.slider{
  background-color: $grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 67px;
  text-align: center;
  transition: 0.4s all;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 38px;
    min-height: 152px;
  }
  .slide {
    opacity: 0.4;
    &__wrapper {
      width: 50px;
      height: 81px;
      transition: 0.4s all;
    }
    .slider__title {
      display: none;
    }
    &--active{
      opacity: 1;
      .slide__wrapper {
        width: 87px;
        height: 152px;
      }
    }
  }

  &__dots {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;

    margin-bottom: 44px;
    .dot {
      width: 30px;
      height: 0.5px;
      background-color: $blue;
      margin-right: 6px;
      &:last-child {
        margin: 0;
      }
      &--active {
        height: 3px;
      }
    }
  }
  &__title {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    max-width: 150px;
    min-height: 43px;
  }
}

@media(min-width:$decstop-width) {
  .slider{
    background-color: $grey;
    padding-top: 160px;
    padding-bottom: 152px;
    &__inner {
      display: flex;
      justify-content: space-around;
      align-items: center;

      margin-bottom: 0;
      min-height: 152px;
    }
    .slide {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__wrapper {
        width: 74px;
        height: 124px;
      }
      .slider__title {
        display: block;
        position: relative;
        padding-top: 40px;
        margin-top: 50px;
        &:after {
          content: '';
          width: 40px;
          height: 0.5px;
          background-color: $blue;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &__dots {
      display: none;
      .dot {
        width: 30px;
        height: 0.5px;
        background-color: $blue;
        margin-right: 6px;
        &:last-child {
          margin: 0;
        }
      }
    }
    &__title-p {
      display: none;
    }
  }
}
