.statistic {
  padding: 75px 0;
  background-image: url(../img/deco/bg/statistic-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__item {
    color: $white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-width: 98px;
    margin-bottom: 66px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  &__counter {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
  }

  &__descr {
    font-size: 15px;
    font-weight: 300;
  }

}


@media (min-width: $tablet-width) {
  .statistic {
    padding: 141px 0;
    background-image: url(../img/deco/bg/statistic-tablet.jpg);
  }
}

@media (min-width: $decstop-width) {
  .statistic {
    padding: 141px 0;
    background-image: url(../img/deco/bg/statistic-decs.jpg);

    &__item {
      margin-bottom: 0;
    }

    &__counter {
      font-size: 42px;
      line-height: 43px;
      margin-bottom: 25px;
    }

    &__descr {
      font-size: 18px;
      font-weight: 300;
    }

  }
}
